@import './var.scss';
@import './format.scss';
@import './animation.scss';
@import './mixins/mixins.scss';

// 过度
.go-transition {
  transition: all 0.4s;
}

.go-transition-quick {
  transition: all 0.2s;
}

.go-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.go-flex-items-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.go-flex-no-wrap {
  flex-wrap: nowrap !important;
}

.go-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// cursor 小手
.go-cursor-pointer {
  cursor: pointer;
}

// IE盒模型
.go-boderbox {
  box-sizing: border-box;
}

// 毛玻璃
.go-background-filter {
  backdrop-filter: $--filter-blur-base;
  @include fetch-bg-color('filter-color');
  box-shadow: $--border-shadow;
}

// 毛玻璃
.go-background-filter-shallow {
  backdrop-filter: $--filter-blur-base;
  @include fetch-bg-color('filter-color-shallow');
  box-shadow: $--border-shadow;
}

// 边框圆角
.go-border-radius {
  border-radius: $--border-radius-base;
  overflow: hidden;
}

// 背景斑点需配合 @mixin background-image 使用
.go-point-bg {
  @include fetch-theme-custom('background-color', 'background-color1');
  background-size: 15px 15px, 15px 15px;
}

// 省略号
.go-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

// todo 使用 scss 循环写一套完整的
// margin
.go-mt-0 {
  margin-top: 0 !important;
}

.go-mb-0 {
  margin-bottom: 0 !important;
}
.go-ml-0 {
  margin-left: 0 !important;
}

.go-mr-0 {
  margin-right: 0 !important;
}

.go-my-0 {
  @extend .go-mt-0;
  @extend .go-mb-0;
}

.go-mx-0 {
  @extend .go-ml-0;
  @extend .go-mr-0;
}

.go-pt-0 {
  padding-top: 0 !important;
}

.go-pb-0 {
  padding-bottom: 0 !important;
}
.go-pl-0 {
  padding-left: 0 !important;
}

.go-pr-0 {
  padding-right: 0 !important;
}

.go-py-0 {
  @extend .go-pt-0;
  @extend .go-pb-0;
}

.go-px-0 {
  @extend .go-pl-0;
  @extend .go-pr-0;
}